.dataTableEmployee {
    width :100%;
    .MuiTableCell-head {
        font-weight: bold;
    }
    .actionCell{
        display: flex;
        justify-content: space-around;
    }
}
.loaderTable{
   flex: 1;
   min-height: 40vh;
   display: flex;
   justify-content: center;
   align-items: center;
}