* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.homeContainer {
    width: 100%;
    height: 100%;
    background-color: var(--theme-background-primary);
    display: flex;
}
.iconColorPrimary {
    color: var(--theme-background-primary);
}
.title {
    font-size: 2rem;
}