.userProfile {
    width: 100%;
    height: 300px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--theme-white);
    .userIcon {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        background-color: var(--theme-background-primary);
        .userImage {
            width: 100%;
            height: 100%;
        }
    }
    h4{
        text-align: center;
    }
}
.drawerList {
    color: var(--theme-white);
    .MuiListItem-root {
        padding-left: 2rem;
    }
}

.dashBoardContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 45px;
    gap:2rem;
    .filterSection {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        .filterField{
            width: 45%;
        }
    }

}